*{padding:0;margin:0;}
	li{ list-style:none; cursor:pointer; position: relative; }
	/**选择窗口样式**/
	.selection-container{ height:500px; margin-top:5px; }
	/**box样式**/
	.select-box{ width:45%; height:100%; float:left; border: 1px solid #B1CFE0; border-radius: 4px; }
	.arrows-box{ width:9.6%; height:100%; float:left; position:relative; }
	/**标题样式**/
	.select-box-title{
		display: block;
		height: 30px;
		line-height: 30px;
		font-family: "宋体";
		font-size: 12px;
		font-weight: bold;
		background: #DFE8F6;
		margin: 0;
		box-sizing: border-box;
	}
 	.checkbox-all{ float:center; } 
	.checkboxs { vertical-align: middle }

	/**鼠标移过行时的颜色**/
	.select-content li:hover{ background-color: #FFF277; }
	
	.select-box  input[type='checkbox'] {
/*     position: absolute;
    left: 13px;
    top: 3px;
    width: 20px;
    height: 20px;
    opacity: 0; */
	}
	.arrow-btns{
		width:100%;
		position:absolute;
		top:50%;
		margin-top:-45px;
	}
	.btn-cursor{
	    background-color: #409eff !important;
	    border:1px solid #409EFF !important;
	    transition: all 0.3s ease;
    	-webkit-transition: all 0.3s ease;
    	-moz-transition: all 0.3s ease;
	}
	.btn-cursor svg{
		fill:#fff !important;
		transition: all 0.3s ease;
    	-webkit-transition: all 0.3s ease;
    	-moz-transition: all 0.3s ease;
	}
	/*.btn-cursor{
		cursor: not-allowed !important;
	}*/
	.arrow-btn{
		display: block;
		position: relative;
		width:40px;
		height:40px;
		border-radius: 25px;
		background:#eee;
		margin:0 auto 5px;
		cursor:pointer;
	    border: 1px solid #dcdfe6;
    	background-color: #f5f7fa;
    	color: #c0c4cc;
    	outline: none;
		font-size: 30px;
	}
	.arrow-btn svg{ padding: 11px; width:17px; height:17px; color: white; fill:#C0C4CC; }
	/**查询条件**/
   .search { overflow: hidden;width: 100%;_width: 100%; font-family: "宋体"; font-size: 12px;  }
   .search ul {
    height: 34px;border-top: #B1CFE0 1px solid;
   }
   .search ul li {
    float: left; width: 70px; line-height: 24px; height: 24px; text-align: center; font-size:12px;border-left: #B1CFE0 1px solid;overflow:hidden
   }
   /**第一个不要左边框**/
      .search ul li.frist{border-left:none;}
      
   .search ul li.title {
    background:#DFE8F6;
	padding: 5px;
    width:50px;
   }
   .search ul li.input {
    background:#FFFFFF;
	/**padding:0px 5px 0px 5px;**/
	padding: 5px;
	width:85px;
   }
   
	/**模拟表格**/
   .head {
    overflow: hidden;width: 100%;_width: 100%;
	font-family: "宋体";
    font-size: 12px;
	font-weight: bold;
    text-align: -internal-center;
   }
   .head ul {
    background: #eee; height: 24px;border-bottom: #b1cfe0 1px solid;;border-top: #b1cfe0 1px solid;
   }
   .head ul li {
    float: left; width: 100px; line-height: 24px; height: 24px; text-align: center; font-size:12px;border-left: #b1cfe0 1px solid; overflow:hidden
   }
      /**第一个不要左边框**/
   .head ul li.frist{border-left:none;}
   
   .body {
    width: 100%;_width: 100%;
	height:350px;
	overflow-y:auto;
	overflow-x:hidden;
   }
   .body ul li {
    width:100%;background: #F9F9F9; overflow: hidden;border-bottom: #b1cfe0 1px solid;border-right: #b1cfe0 1px solid;float:left;
   }
   .body ul li span { width:98px;_width:100px; font-size:12px; padding-left:2px; border-left: #b1cfe0 1px solid; float:left; height:23px; line-height:23px; overflow:hidden
   }
	/**第一个不要左边框**/
   .first{
		border-left: none;
	    text-align: -webkit-center;
	} 